#img-bg{
    min-height: 695px;
    background-image: url('https://portal1.iff.edu.br/painel-do-servidor/pessoas-1.jpg/@@images/image.jpeg');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}