#img-bg{
    min-height: 695px;
    background-image: url('https://jovemedivertida.files.wordpress.com/2020/04/sonhos-erc3b3ticos-da-nadia-em-elite.gif?w=540');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}